body {
    padding: 10px;
}

.lots {
    margin: 0;
    height: auto;
    padding: 0 0 5px 0;
}
  
.item {
    border: 1px solid blue;
    border-radius: 5px;
    background-color: rgb(222, 243, 255);
    padding: 10px;
    height: auto;
    max-height: 35rem;
    cursor: pointer;
}

.item label {
    font-weight: 600;
}

.item-image {
    text-align: center;
}

.item-image img{
    height: 15rem;
}

.cell {
    padding: 3px;
}

#new-lot {
    display: grid;
}

div.new-lot {
    padding: 0 1rem 0 1rem;
}

div.new-lot label {
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
}

div.new-lot input, div.new-lot select, div.new-lot textarea {
    font-size: 20px;
}

.errorlist {
    color: crimson;
}

#btn-add {
    margin: 25px 0 15px 0;
}

form.form {
    display: flex;
}

div.lot {
    margin: 1rem;
}

.lot form {
    margin: 15px 0 15px 0;
}

.lot-image img {
    width: 100%;
    max-width: 20rem;
}

.description {
    padding: 1rem;
}

.current-bid {
    font-size: 1.5rem;
    font-weight: 700;
}

input[name="message"] {
    width: 100%;
}

div.comment {
    background-color: rgb(250,250,250);
    padding: 0 0 0.2rem 1rem;
}

@media (max-width: 700px) {
    div.lot-image {
        text-align: center;
    }
}

#bid {
    width: 100%;
    max-width: 100px;
}

.you-win {
    font-weight: 700;
    color: red;
}

#you-win {
    color: white;
    background-color: blue;
    font-weight: 600;
}