{% extends "auctions/layout.html" %}

{% block body %}
    <div class="lot">

        <div class="lot-image">
            <img src="{{ lot.image }}" />
        </div>
        <div><h2>{{ lot.title }}</h2></div>

        {% if user.is_authenticated %}
        <form action="{% url 'watchlist' lot.id %}" method="post" class="form">
            {% csrf_token %}
            {% if not is_watchlisted %}
                <input type="hidden" name="__method" value="PUT" />
                <input type="submit" value="Add to Watchlist" />
            {% else %}
                <input type="hidden" name="__method" value="DELETE" />
                <input type="submit" value="Delete from Watchlist" />
            {% endif %}
        </form>
        {% endif %}

        {% if last_bid == None %}
            <div>{{ lot.min_amount }} {{ lot.currency }}</div>
        {% else %}
            <div>{{ last_bid.amount }} {{ lot.currency }}</div>
        {% endif %}

        {% if user.is_authenticated %}
        <form action="{% url 'bid' lot.id %}" method="post" class="form">
            {% csrf_token %}
            <input type="number" name="bid" id="bid" value="{{ next_bid_amount }}" min="{{ next_bid_amount }}"/>
            <div>{{ lot.currency }}</div>
            <input type="submit" value="Place Bid"/>
        </form>
        {% endif %}

        <div class="description">{{ lot.description }}</div>

        <h3>Comments</h3>
        <div class="comments">
            {% if user.is_authenticated %}
            <form action="{% url 'comment' lot.id %}" method="post" class="form">
                {% csrf_token %}
                <input type="text" name="message" />
                <input type="submit" value="Add comment" />
            </form>
            {% endif %}
            {% for comment in comments %}
                <div class="comment">{{ comment.created_at }}> {{ comment.message }}</div>
            {% endfor %}
        </div>

    </div>
    
{% endblock %}
